.activity-box{
  width:calc(100% - 20px);
  padding: 10px 10px 0px 10px;
}
.but-box img{
  height:20px;
  width:20px;
  float:right;
  margin-right: 10px;
}
.item-content{
  min-height: 50px;
  border-bottom: 1px dashed #e5e5e5;
  clear: both;
}
.time-box{
  font-size:12px;
}
.label-box{
  height: 30px;
  line-height:30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.left-box{
  width: 230px;
  float: left;
}
.right-box{
  width: calc(100% - 230px);
  float: right;
  height:20px;
  margin: 15px 0px;
}
.right-box img{
  float: right;
  margin-left:15px;
  height:20px;
  width:20px;
}
.green{color: green;}
.red{color: red;}
.desc-box{
  clear: both;
  background: #f5f5f5;
  padding: 10px;
}
.clear{
  clear: both;
}
.pointer-img{
  margin-bottom:-10px;
}