.no-data{
  text-align: center;
  color:#aaa;
  margin-top:200px;
}
.row-head{
  height: 40px;
  line-height: 40px;
  background: #666666;
  position: fixed;
  left:0;
  top:40px;
  padding:0px 15px;
  width:calc(100% - 30px);
}
.row-head div{
  float: left;
  color:#fff;
}
.list-box{
  margin-top:40px;
  clear: both;
  font-size:12px;
}
.list-box .row{
  height: 50px;
  line-height: 50px;
  border-bottom:1px solid #e5e5e5;
  border-top:1px solid #e5e5e5;
  width:calc(100% - 30px);
  padding:0px 15px;
}
.list-box .row div{
  float: left;
}
.list-box .row div:nth-child(1),.row-head div:nth-child(1){
  width: 80px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.list-box .row div:nth-child(2),.row-head div:nth-child(2){
  width: 80px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.list-box .row div:nth-child(3),.row-head div:nth-child(3){
  width: 80px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.list-box .row div:nth-child(4),.row-head div:nth-child(4){
  width: 60px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.list-box .row div:nth-child(5),.row-head div:nth-child(5){
  width: calc(100% - 300px);
  float: right;
  text-align: center;
}
.list-box .row div.action,.row-head div.action{
  float: right;
}
.action img{
  float: right;
  width:20px;
  height:20px;
  margin: 15px 0px 15px 10px;
}
.dialog-box{
  width: 80%;
  height: 150px;
  position: fixed;
  left: calc( 10%);
  top: calc( 50% - 75px);
  background: #fff;
  border-radius: 5px;
  z-index: 2;
  text-align: center;
  font-size: 16px;
}
.dialog-box div{margin: 25px 0px}
.dialog-box button{
  display: inline-block;
  border: 1px solid #e5e5e5;
  height:40px;
  width: 70px;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
}
.dialog-box button:last-child{
  background: #ffbf02;
  border: 1px solid #ffbf02;
  color:#fff;
}