.list-head{
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #2b2b2b;
  width: 100%;
}
.list-head div{
  float:left;
}
.trophy-box{margin-top:40px;}
.trophy-box .row{
  height: 50px;
  border-bottom: 1px solid #e5e5e5;
  /*border-top: 1px solid #e5e5e5;*/
  background: #fff;
  /*margin-top: 5px;*/
}
.trophy-box .row span{
  display: block;
  line-height:50px;
  height:50px;
  float: left;
}

.bg-color{
  width:60px;
  height:20px;
  text-indent: 1em;
}
.row-right{
  width: 150px;
  float: right;
}
.img-box{
  height: 50px;
  float: right;
}
.row-right img{
  float: right;
  margin-right:10px;
  height:20px;
  width:20px;
  margin-top: 15px;
}
.dialog-box{
  width: 80%;
  height: 150px;
  position: fixed;
  left: calc( 10%);
  top: calc( 50% - 75px);
  background: #fff;
  border-radius: 5px;
  z-index: 2;
  text-align: center;
  font-size: 18px;
}
.dialog-box div{margin: 25px 0px}
.dialog-box button{
  display: inline-block;
  border: 1px solid #e5e5e5;
  height:40px;
  width: 70px;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
}
.dialog-box button:last-child{
  background: #ffbf02;
  border: 1px solid #ffbf02;
  color:#fff;
}